{% extends 'disposiciones/disposicion_autenticacion.html' %}

{# Template para que el usuario pueda cambiar su contraseña. #}

{# Esto me renderiza el título de la pagina en la pestaña del navegador  #}
{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}

    <h2>Cambiar Contraseña</h2>

    <form method="post">
        {% csrf_token %}
        
        {# Formulario para Cambiar la Contraseña #}
        {{ form.as_p }}

        {# Botón "Submit" para enviar el formulario y cambiar la contraseña #}
        <button class="btn btn-primary" type="submit">Cambiar Contraseña</button>
    </form>

{% endblock %}