{% extends 'disposiciones/disposicion_autenticacion.html' %}

{# Template para que el usuario pueda cambiar su contraseña. #}

{# Esto me renderiza el título de la pagina en la pestaña del navegador  #}
{% block title %}Change your Password{% endblock %}

{% block content %}

    <h2>Change your Password</h2>
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        
        {# Formulario para Cambiar la Contraseña #}
        {{ form.as_p }}

        {# Botón "Submit" para enviar el formulario y cambiar la contraseña #}
        <button class="btn btn-primary" type="submit">Change your Password</button>
    </form>

{% endblock %}