{% extends 'disposiciones/disposicion_autenticacion.html' %}

{% load static %}

{# Página de Inicio #}

{# "extends" tiene que ser la primera línea de codigo de este template. #}

{# Tengo que cargar los archivos estáticos usando "load static". #}

{# Esto me renderiza el título de la pagina en la pestaña del navegador  #}

{% block title %}Home - Police Tests{% endblock %}

{# Agregue la disposicion / layout para ponerle el bootstrap y los mensajes de flash de error o confirmacion.  #}

{# Esto me agrega los enlaces para la barra de navegación que tengo en mi template de disposicion de autenticacion #}

{# Hay enlaces que voy a meter automáticamente a todos o la mayoría de los templates en la disposicion. Esos #}
{# enlaces NO los voy a poner aquí. #}

{# Si el usuario ha iniciado sesión, se le mostrará solo el enlace para cerrar sesión. #}
{# Si el usuario no ha iniciado sesión, le mostraré los enlaces para autenticarse y para registrarse. #}

{% block nav_items %}

    {# Si el usuario no está autenticado / iniciado sesión #}
    {% if not user.is_authenticated %}
        {# Si el usuario no ha iniciado sesión, le mostraré los enlaces para autenticarse y para registrarse #}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'iniciar_sesion' %}">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'registrarse' %}">Sign Up</a>
        </li>
    {% endif %}
{% endblock %}

{# Esto me renderiza el contenido de esta pagina. Sin el "block content", nada se renderiza.  #}
{# #}
{# I will center the logo and all the buttons horizontally within the page by using Bootstrap. The container class #}
{# ensures that the content is centered within a reasonable width, while the text-center class centers the text and #}
{# inline elements. The mx-auto d-block classes center the logo image. #}
{% block content %}
    
    {# Bunny Fonts' CDN #}
    <link rel="preconnect" href="https://fonts.bunny.net">
    
    {# This will let me use the Oswald Font from Bunny Fonts (600 in weight) #}
    <link href="https://fonts.bunny.net/css?family=oswald:600" rel="stylesheet" />
    
        {# This will let me use the Oswald Font from Bunny Fonts (500 in weight) #}
    {#    <link href="https://fonts.bunny.net/css?family=oswald:500" rel="stylesheet" />#}

    <div class="container text-center">  {# Add container and text-center class from Bootstrap #}
    
        {# Police Tests' Logo #}
        <img src="{% static 'img/logos/police-tests-logo-higher-resolution.png' %}" 
             alt="Police Test's Logo" height="100"
        >
    
        {# Police Tests' Title #}
        {#  #}
        {# I like it as either having the title in all caps with a 600 weight of the Oswald Font, or just as #}
        {# "Police Tests" with 500 of Weight. #}
        <h1 style="font-family: 'Oswald', sans-serif;">
            {#            Police Tests#}
            POLICE TESTS
        </h1>
        {#        <h1><b>Police Tests</b></h1>#}
    
        <br>
        <br>
        <div class="welcome-message">
            {# Si el usuario inicia sesión, se le muestra su nombre de usuario #}
            {% if user.is_authenticated %}
                
                <br>
                <br>
                {# Mensaje de bienvenida con el nombre de usuario #}
                <p>Welcome, {{ user.username }}!</p>
                {#  User is logged.   #}
                {# Panel de Control / Dashboard para Administradores. SOLO LOS ADMINISTRADORES PODRAN VER ESTO #}
                {% if user.is_superuser %}
    
                    <br>
                    <br>
                    <p>
                        <b>Control Panel for Admins</b>
                    </p>
    
                    {# List of all the Tests in teh database #}
                    <a href="{% url 'tests_clientes:lista_de_tests' %}" class="btn btn-primary">
                        Test List
                    </a>
                    <br>
                    <br>
    
                    {# Enlace para subir tests desde un Excel #}
                    <a href="{% url 'tests_administradores:upload_and_import_exams' %}" class="btn btn-primary">
                        {#  Subir un Test desde un archivo Excel#}
                    
                        Upload a Test from an Excel File
                    </a>
                    <br>
                    <br>
    
                    {# Enlace para crear un test desde cero, sin usar un Excel #}
                    <a href="{% url 'tests_administradores:crear_nuevo_test_sin_subir_un_archivo' %}" class="btn btn-primary">
                        Create New Test
                    </a>
                   <br>
                   <br>
                    
                    {# Link to go to the Question Search functionality #}
                    <a href="{% url 'tests_administradores:buscador_de_preguntas' %}" class="btn btn-primary">
                        Question Search
                    </a>
                    <br>
                    <br>
    
                    {# Fin del Panel de Control / Dashboard para Administradores.  #}
                {% endif %}
                <br>
                <br>
                
                {# Enlaces a las funcionalidades para los clientes. #}
                {# Link to the Exams' Lists #}
                <a href="{% url 'tests_clientes:menu_principal_tests' %}" class="btn btn-primary">
                    Tests
                </a>
                <br>
                <br>
    
                <a href="{% url 'cerrar_sesion' %}">Log Out</a>
    
            {# Esto es lo que se le muestra al usuario si no inicia sesión en la web app #}
            {% else %}

                <!-- User is not logged in -->
    
                <!-- Botón con el enlace para Iniciar Sesión -->
                <a href="{% url 'iniciar_sesion' %}" class="btn btn-primary">Log In</a>
    
                <br>
                <br>
    
                <!-- Botón con el enlace para Registrarse -->
                <a href="{% url 'registrarse' %}" class="btn btn-primary">Sign Up</a>
    
            {% endif %}
        </div>
    </div>
{% endblock %}